<div class="modal-body">
<flash-message duration="2000"></flash-message>
      <span ng-controller="MGSCommonController" class="btn-close">
      <button class="close" type="button" ng-click="closepopup()">&times;</button>
      </span>
  <div class="col-md-12 forgotform">
    <div class="alert alert-danger" ng-if="loginError" role="alert">{{loginErrorText}}</div>
    <span class="hightlight popup-title">Forgot Password?</span>
    <p ng-hide="submitted && successmessages || submitted && otpsuccess">Please enter your registered email address below to receive email to generate new pasword OR enter your phone number to generate One time password</p>
    <form name="ForgotPassword" ng-submit="forgotpassword()" ng-class="{'submitted':submitted}" novalidate="true">
    <div class="cat_template_row" ng-show="successmessages">
          <div class="alert alert-success" role="alert">
            {{successmessages}}
          </div>
        </div>
        <div class="cat_template_row" ng-show="otpsuccess">
          <div class="alert alert-success" role="alert">
            {{otpsuccess}}
            <div ng-controller="MGSCommonController">Please Click here to <a ng-click="openlogin()">Login</a></div>
          </div>
        </div>
    <div ng-hide="submitted && successmessages || submitted && otpsuccess">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter Your Email" ng-model="forgot.email" ng-pattern="/^[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$/" name="email" id="email" ng-required="!forgot.phonenumber">
        <span class="messages" ng-messages="ForgotPassword.email.$error" ng-if="submitted">
        <span ng-message="required">Please enter Email.</span>
        <span ng-message="pattern">Please enter valid email.</span>
        <span ng-messages-include="/js/tpl/messages.html"></span>
        </span>
      </div>
      <div class="forgot-password">OR</div>
     <div class="form-group">
        <input type="text" class="form-control"  placeholder="Phone No." ng-model="forgot.phonenumber" name="phonenumber" ng-pattern="/^[0789]\d{9}$/" ng-required="!forgot.email">
        <span class="messages" ng-messages="ForgotPassword.phonenumber.$error" ng-if="submitted">
        <span ng-message="required">Please enter PhoneNumber.</span>
        <span ng-message="pattern">Please enter Valid PhoneNumber.</span>
        <span ng-messages-include="/js/tpl/messages.html"></span>
        </span>
    </div>
      <button class="btn btn-info">Submit</button>

  </div>
    </form>
  </div> 
</div>
