<div class="quote-detail-page admin-section ">
<!-- Quick Search Section -->
<section id="quote-info" class="section-area" ng-init="quotedetails()">
   <div class="container">
         <flash-message></flash-message>
  <a ui-sref="quotelist" class="btn-back dl pull-right" href="#/config/quotelist"><< Back to Quotes</a>
   <div class="section-heading">
      <h5><strong>Quote Date: {{showCommonDate(quote.date,'dd/MM/yyyy HH:mm a')}}</strong></h5>
      <h5><strong>Quote Id: {{quote.id}}</strong></h5>
      <h5><strong>Quote Status: <span class="quote-status-display">{{quote.status.internal}}</span></strong></h5>
   </div>
   <div class="row queue-content divider">
   <div class="col-md-6 quotedetail-left">
      <!-- Customer Details Info -->
      <div class="panel panel-default add-cust-info">
         <div class="panel-heading">
            <h5 class="panel-title">
               Customer Details
                <mgs-save-edit disabled="disabledContact" updatequote="updateQuote('save')"></mgs-save-edit>
            </h5>
         </div>
         <div id="customer-details" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
               <form role="form" name="customereDetail" class="form-horizontal cust-details" novalidate>
                  <div class="form-group">
                     <label class="col-sm-3">Customer Name:</label>
                     <div class="col-sm-9">
                        <input type="text" name="cust-name" ng-model="customer.name" class="form-control" value="Name" ng-disabled="disabledContact">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-3">Phone:</label>
                     <div class="col-sm-9">
                        <input type="text" name="cust-phone" ng-model="customer.phonenumber" class="form-control input-md-box" ng-disabled="disabledContact">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-3">Email:</label>
                     <div class="col-sm-9">
                        <input type="text" name="cust-email" ng-model="customer.email" class="form-control" ng-disabled="disabledContact">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-3">Address:</label>
                     <div class="col-sm-9">
                        <input type="text" name="cust-addr" ng-model="customer.address1" class="form-control" ng-disabled="disabledContact">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-3">State:</label>
                     <div class="col-sm-9">
                        <input type="text" name="cust-state" value="MH" ng-disabled="true" class="form-control input-sml-box ">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-3">City:</label>
                     <div class="col-sm-9">
                        <input type="text" name="cust-city" ng-controller="MGSCommonController" ng-model="selectedCity.name" ng-disabled="true" class="form-control input-sml-box">
                     </div>
                    </div>
                  <div class="form-group">
                     <label class="col-sm-3">Pincode:</label>
                     <div class="col-sm-9">
                        <input type="text" name="cust-pincode" ng-model="customer.pincode" class="form-control input-sml-box" ng-disabled="disabledContact">
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!--Service Details -->
      <div class="panel panel-default add-service-info">
         <div class="panel-heading">
            <h5 class="panel-title">
               Service Details
               <mgs-save-edit disabled="disabledService" updatequote="updateQuote('save')"></mgs-save-edit>
            </h5>
         </div>
         <div id="service-details" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
               <form role="form" name="ServiceDetail" class="form-horizontal sr-details" novalidate>
                        <div class="form-group service-datetime">
                            <label class="col-sm-3">Service Date:</label>
                          <div class="col-sm-9">
                          <p class="input-group">
                          <input class="form-control" type="text" class="form-control" uib-datepicker-popup   ng-model="service.appointmentDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"  is-open="datepicker.opened"  name="appointmentDate" />
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default btn-datetime" ng-click="openDate()">
                                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </span>
                          </p>
                          </div>
                        </div>
                      <div class="form-group service-datetime">
                          <label class="col-sm-3">Service Time:</label>
                          <div class="col-sm-9">
                             <div class="service-time">
                                <timepicker-pop input-time="service.appointmentTime"  class="input-group" show-meridian='ismeridian'>
                                </timepicker-pop>
                             </div>
                          </div>
                      </div>
                  <div class="form-group">
                     <label class="col-sm-3">Service Type:</label>
                     <div class="col-sm-9">
                        <select name="sd-type" ng-model="selectedService" class="form-control input-md-box" ng-options='service.service_name for service in serviceObj track by service.url' ng-disabled="disabledService">
                           <option value="">-- Choose Service --</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group subservices">
                     <label class="col-sm-3">Sub-Services:</label>
                     <div class="col-sm-9">
                        <div class="form-widget">
                           <div class="form-group" ng-repeat="value in $products">
                              <span ng-show='false' ng-init="buildAttributes(value.product_name); makeSingleSelectionForProducts(value);"></span>
                              <div class="product-attr prod-id-{{value.id}}" ng-if="multipleAttributes[value.product_name]">
                                 <label  mgs-painting-valid class="product-name" >{{value.product_name}}   </label>
                                 <div ng-dropdown-multiselect=""  options="attributesModel[value.id]" selected-model="attributesPackageModel[value.id]" checkboxes="true" extra-settings="extrasettings[value.id]" translation-texts="translationtexts"> </div>
                                 <div ng-show="toshowOptions" class="child-dropdown">
                                    <div ng-repeat="(optionkey, options) in  optionsToShow">
                                    <label  class="option-name" ng-init='getAttributeLabel(optionkey)'>{{optionAttributeLabel[optionkey].attribute_name}}   </label>
                                       <div ng-dropdown-multiselect=""  options="options" selected-model="optionsPackageModel[optionkey]" checkboxes="true" extra-settings="optionsExtraSettings" translation-texts="optionsTranslationTexts[optionkey]" > </div>
                                    </div>
                                 </div>
                              </div>
                              <div ng-if="singleAttribute[value.product_name]">
                                 <div class="checkbox"><label><input class="checkboxInput" type="checkbox" ng-checked="isExist(attributesPackageModel[value.id], { 'id' : value.id})"  ng-click="toggleSelection(value.id)" /> {{value.product_name}}</label></div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
   <!-- Service Charges -->
  <form role='form' name="servicePrice" class="form-horizontal sr-details" novalidate>
   <div class="panel panel-default add-service-info">
      <div class="panel-heading">
         <h5 class="panel-title">
            Service Charges
         </h5>
      </div>

      <div id="service-rate-details" class="service-charges-details panel-collapse collapse in" aria-expanded="true">
         <div class="panel-body">
            <div class="header clearfix ">
               <div class="specification-header col-sm-3">Services</div>
               <div class="specification-price col-sm-2"> Price</div>
               <div class="specification-quantity col-sm-2"> Quantity</div>
               <div class="specification-unit col-sm-2"> Unit</div>
               <div class="specification-unit col-sm-3"> Discount</div>
            </div>
            <div class="form-group" ng-repeat="(prod, prodValues) in serviceGroupBySpecs" >
               <span class="prodlabel" >{{prod}}</span>
               <div ng-repeat="(key, attributesValues) in prodValues">
                  <div  class="attribute-level" ng-if="optionsNotPresent">
                     <div class="grouper" ng-if='attributesValues.attribute.id'>
                        <label  class="col-sm-3 no-padding-right">{{attributesValues.attribute.attribute_name}} : </label>
                        <div class="col-sm-2 no-padding-left sr-charge sr-charge-price">
                           <!--                         <label class="rupess-label  no-padding">Rs.</label> -->
                           <input  name="sr-charge" ng-model='serviceGroupBySpecs[prod][key].attribute.price'  class="form-control" ng-readonly="quote.status_id==11"/>
                        </div>
                        <div class="col-sm-2  no-padding-left sr-charge sr-charge-qty">
                           <input type="text" name="sr-quantity" ng-model='serviceGroupBySpecs[prod][key].attribute.quantity' decimals="0" numeric formatting='false' min="1" class="form-control" ng-readonly="quote.status_id==11"/>
                        </div>
                        <div class="col-sm-2  no-padding sr-charge sr-charge-unit">
                          <select name="unit-sel" ng-model="serviceGroupBySpecs[prod][key].attribute.unit" class="form-control input-md-box" ng-options='unit for unit in units track by unit' ng-disabled="quote.status_id==11">
                                <option value="">Select Unit</option>
                           </select>
                        </div>
                      <div class="col-sm-3  no-padding sr-charge sr-discount">
                           <label class="col-sm-1">
                             <input type="checkbox" ng-model="serviceGroupBySpecs[prod][key].attribute.setDiscount" ng-checked="!!serviceGroupBySpecs[prod][key].attribute.setDiscount" ng-disabled="quote.status_id==11"/>
                           </label>
                            <input ng-if='serviceGroupBySpecs[prod][key].attribute.setDiscount' type="text" name="discount-on" ng-model='serviceGroupBySpecs[prod][key].attribute.discount' numeric formatting='false' min="1" max="100" class="form-control col-sm-2 discount-input" ng-readonly="quote.status_id==11"/>

                      </div>
                     </div>
                     <div class="grouper single-attribute" ng-if='!attributesValues.attribute.id'>
                        <div class="col-sm-2 sr-charge sr-charge-price no-padding-left">
                           <!--                         <label class="rupess-label">Rs.</label> -->
                           <input type="text" name="sr-charge" ng-model='serviceGroupBySpecs[prod][key].product.price' class="form-control" ng-readonly="quote.status_id==11"/>
                        </div>
                        <div class="col-sm-2  no-padding-left sr-charge sr-charge-qty">
                           <input type="text" name="sr-quantity" ng-model='serviceGroupBySpecs[prod][key].product.quantity'  decimals="0" numeric formatting='false' formatting='false' min="1" class="form-control" ng-readonly="quote.status_id==11"/>
                        </div>
                        <div class="col-sm-2  no-padding sr-charge sr-charge-unit">
                          <select name="unit-sel" ng-model="serviceGroupBySpecs[prod][key].product.unit" class="form-control input-md-box" ng-options='unit for unit in units track by unit' ng-disabled="quote.status_id==11">
                                <option value="">Select Unit</option>
                           </select>
                        </div>
                        <div class="col-sm-3  no-padding sr-charge sr-discount">
                           <label class="col-sm-1">
                             <input type="checkbox" ng-model="serviceGroupBySpecs[prod][key].product.setDiscount" ng-checked="!!serviceGroupBySpecs[prod][key].product.setDiscount" ng-disabled="quote.status_id==11"/>
                           </label>
                           <input ng-if='serviceGroupBySpecs[prod][key].product.setDiscount' type="text" name="discount-on" ng-model='serviceGroupBySpecs[prod][key].product.discount' numeric formatting='false' min="1" max="100" class="form-control col-sm-2 discount-input" ng-readonly="quote.status_id==11"/>
                      </div>
                     </div>
                  </div>
                  <div  class="attribute-level" ng-if="!optionsNotPresent">
                     <label  class="col-sm-3 no-padding-right">{{attributesValues.option.option_name}} : </label>
                     <div class="col-sm-2 no-padding-left sr-charge sr-charge-price">
                        <!--                       <label class="rupess-label">Rs.</label> -->
                        <input type="text" name="sr-charge" ng-model='serviceGroupBySpecs[prod][key].option.price'  class="form-control" ng-readonly="quote.status_id==11"/>
                     </div>
                     <div class="col-sm-2  no-padding-left sr-charge sr-charge-qty">
                        <input type="text" name="sr-quantity" ng-model='serviceGroupBySpecs[prod][key].option.quantity'  decimals="0" numeric formatting='false'  min="1"  class="form-control" ng-readonly="quote.status_id==11"/>
                     </div>
                     <div class="col-sm-2  no-padding sr-charge sr-charge-unit">
                          <select name="unit-sel" ng-model="serviceGroupBySpecs[prod][key].option.unit" class="form-control input-md-box" ng-options='unit for unit in units track by unit' ng-disabled="quote.status_id==11">
                                <option value="">Select Unit</option>
                           </select>
                     </div>

                    <div class="col-sm-3  no-padding sr-charge sr-discount">
                           <label class="col-sm-1">
                             <input type="checkbox" ng-model="serviceGroupBySpecs[prod][key].option.setDiscount"ng-checked="!!serviceGroupBySpecs[prod][key].option.setDiscount" ng-disabled="quote.status_id==11"/>
                           </label>
                           <input ng-if='serviceGroupBySpecs[prod][key].option.setDiscount' type="text" name="discount-on" ng-model='serviceGroupBySpecs[prod][key].option.discount'  class="form-control col-sm-2 discount-input" numeric formatting='false' min="1" max="100" ng-readonly="quote.status_id==11"/>
                      </div>
                  </div>
               </div>
            </div>
            <!-- Add More Button -->
            <div class="add-more-material form-group">
               <div class="header clearfix ">
                  <div class="material-header col-sm-4">Material Name</div>
                  <div class="material-quantity col-sm-3"> Quantity</div>
                  <div class="material-price col-sm-3"> Unit/Price</div>
                  <div class="specification-unit col-sm-1"> Total</div>
               </div>
                  <fieldset data-ng-repeat="material in materials" class="material-box">
                     <input type="text" name="sr-item1" ng-model="material.material_name" class="col-sm-4 material" />
                     <input type="text" decimals="0" numeric formatting='false' formatting='false' min="1"  name="sr-item2" ng-model="material.material_quantity" class="col-sm-2 material" />
                     <input type="text"  decimals="0" numeric formatting='false' formatting='false' min="1" name="sr-item3" ng-model="material.unit_price" class="col-sm-3 material" />
                     <div class="col-sm-1">{{material.material_total}}</div>
                     <button class="remove btn btn-info" ng-show="$last" ng-click="removeMaterial()">Remove</button>
                  </fieldset>
                  <button class="addfields btn btn-info" ng-click="addNewMaterial()">Add Material</button>
            </div>
               <div class="form-group material-charges clearfix" ng-if='materialCharges'>
                  <label class="col-sm-5"><b>Material Grand Total:</b></label>
                  <div class="text-center">  {{materialCharges}}</div>
               </div >
            <!-- End More Button -->
            <div class="form-group other-charges clearfix">
               <div class="header clearfix ">
                  <div class="specification-header col-sm-5">Other Inputs</div>
                  <div class="specification-price col-sm-7 text-center"> Price</div>
<!--                   <div class="specification-quantity col-sm-2"> Quantity</div>
                  <div class="specification-unit col-sm-2"> Unit</div> -->
               </div>
               <div class="data content clearfix">
                  <div class="attribute-level">
                  <label  class="col-sm-5">Labor Charges : </label>
                  <div class="col-sm-7">
                     <label class="labor-label col-sm-3">Rs.</label>
                     <input type="text" decimals="0" numeric formatting='false' formatting='false' min="0" name="labor-charge" ng-model='labourCharges'  class="form-control input-sml-box" ng-readonly="quote.status_id==11"/>
                  </div>
                  </div>
                  <div class="attribute-level">
                  <label  class="col-sm-5">Service Tax : </label>
                  <div class="col-sm-7">
                     <label class="servicetax-label col-sm-3">%</label>
                     <input type="text" numeric formatting='false' formatting='false' min="0" max="100"  name="servicetax-charge" ng-model='serviceTax'  class="form-control input-sml-box" ng-readonly="quote.status_id==11"/>
                  </div>
                  </div>
                  <div class="attribute-level">
                  <label  class="col-sm-5">VAT Tax : </label>
                  <div class="col-sm-7">
                     <label class="vat-label col-sm-3">%</label>
                     <input type="text"  numeric formatting='false' formatting='false' min="0" max="100"  name="vat-charge" ng-model='VAT'  class="form-control input-sml-box" ng-readonly="quote.status_id==11"/>
                  </div>
                  </div>
               </div>
               <div class="grand-total clearfix">
                <div class="header clearfix other-charges-calc">
                  <div class="specification-header col-sm-5">Other Charges</div>
                  <div class="specification-price col-sm-7 text-center"> Price</div>
<!--                   <div class="specification-quantity col-sm-2"> Quantity</div>
                  <div class="specification-unit col-sm-2"> Unit</div> -->
                 </div>
                  <div class="additional-charges">
                     <div class="price-without-discount clearfix" ng-if='priceWithoutDiscount'>
                        <label class="col-sm-5">Actual Price:</label>
                        <div class="text-center">{{priceWithoutDiscount}} </div>
                     </div >
                     <div class="total-discount clearfix" ng-if='totalDiscount'>
                        <label class="col-sm-5">Discount:</label>
                        <div class="text-center"> - {{totalDiscount}}</div>
                     </div >
                     <div class="labour-charges clearfix" ng-if='labourCharges'>
                        <label class="col-sm-5">Labour Charges:</label>
                        <div class="text-center"> + {{labourCharges}}</div>
                     </div>
                     <div class="material-charges clearfix" ng-if='materialCharges'>
                        <label class="col-sm-5">Material Charges:</label>
                        <div class="text-center"> + {{materialCharges}}</div>
                     </div >
                     <div class="vat clearfix" ng-if='VATCalc'>
                        <label class="col-sm-5">VAT:</label>
                        <div class="text-center">+ {{VATCalc}}  ( {{VAT}}% )</div>
                     </div>
                     <div class="servicetax clearfix" ng-if='serviceTaxCalc'>
                        <label class="col-sm-5">Service Tax:</label>
                        <div class="text-center">+ {{serviceTaxCalc}}  ( {{serviceTax}}% ) </div>
                     </div>
                  </div>
                <div class="final-price clearfix">
                    <label class="col-sm-4"><b>Grand Total:</b></label>
                    <div class="text-center"><strong>Rs. {{quote.price | number : 2}}</strong></div>
                </div>
               </div>
              </div>
         </div>
      </div>
      </form>
   </div>
    <!-- <div class="btn-grouping">
   </div> -->
  <div class="btn-grouping">
      <a ui-sref='quotelist' class="btn btn-info" >Cancel</a>

      <button class="btn btn-info btn-save" ng-click="updateQuote('save')" ng-if="quote.status_id!=10 && quote.status_id!=8 && quote.status_id!=4">Save</button>

      <button permission permission-only="['CSR']" class="btn btn-primary btn-sapprove" ng-click="updateQuote(3)" ng-if="quote.status_id==1">Send For Approval</button>

      <button permission permission-only="['Admin', 'Master Admin']" ng-if="quote.status_id!=10" class="btn btn-primary btn-sapprove" ng-click="updateQuote(6)">Approve</button>

      <button permission permission-only="['Admin', 'Master Admin']" ng-if="quote.status_id!=10" class="btn btn-primary btn-sapprove" ng-click="updateQuote(8)">Publish</button>

      <button class="btn btn-primary btn-sapprove" ng-click="updateQuote(4)" ng-if="quote.status_id!=10">Reject</button>
      <button permission permission-only="['CSR', 'Admin', 'Master Admin']" class="btn btn-primary btn-sapprove" ng-click="updateQuote(10)" ng-if="quote.status_id!=10">Send For Inspection</button>

      <button permission permission-only="['Admin', 'Master Admin']" class="btn btn-primary btn-sapprove" ng-click="updateQuote(1)" ng-if="quote.status_id==10">Complete Inspection</button>

      <button class="btn btn-primary btn-sapprove" ng-click="updateQuote(11)" >Buy</button>
   </div>
   </div>
</section>
<!-- End Quick Search-->
<!-- Notes History Section -->
<section id="notes-history" class="section-area" ng-controller="NotesController">
   <div class="container divider">
      <div class="section-heading">
         <h5>
            <strong>Notes History</strong>
            <a ng-href="javascript:void(0)" class="btn btn-info pull-right" type="button" data-toggle="modal" data-target="#NotesFormWrapper">New Note</a>
            <!-- Include note add form -->
            <div ng-include="'js/tpl/notes/add_notes.html'"></div>
         </h5>
      </div>
      <div class="row" ng-init="getNotes(quote_id)" >
         <div class="" ng-if = "notes.length == 0">
            <h5>No notes posted yet.</h5>
         </div>
         <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
               <div class="notes-block-content" ng-repeat='note in notes' >
                  <div class="posted-data">
                     <div id="parent-note" ng-if = "note.parent_id == 0">
                        <span class="posted-date">Posted: {{showCommonDate(note.created_at,'dd/MM/yyyy HH:mm a')}} by {{note.created_by}}</span>
                        <span class="note-type"><strong>({{note.note_type}})</strong></span>
                        <div class="subject-message">
                           <p>{{note.message}}</p>
                        </div>
                        <div class="status-note-history">
                           <span class="nt-open-message ">({{note.status}})</span>
                           <a href="javascript:void(0)" class="statuslink" data-toggle="modal"  ng-click="changeStatus(note)" data-target="#NotesStatusWrapper" >Change Status</a>
                        </div>
                        <div ng-include="'js/tpl/notes/note_status.html'"></div>
                        <a href="javascript:void(0)" class="replylink" data-toggle="modal" ng-click='sendReply(note)' data-target="#NotesReply" >Reply</a>
                        <div ng-include="'js/tpl/notes/reply_notes.html'"></div>
                     </div>

                     <div id="child-note"  ng-if = "note.parent_id != 0">
                        <span class="posted-date">Posted: {{showCommonDate(note.created_at,'dd/MM/yyyy HH:mm a')}} by {{note.created_by}}</span>
                        <span class="note-type"><strong>({{note.note_type}})</strong></span>
                        <div class="subject-message">
                           <p>{{note.message}}</p>
                        </div>
                        <div class="status-note-history">
                           <span class="nt-open-message ">({{note.status}})</span>
                           <a href="javascript:void(0)" class="statuslink" data-toggle="modal"  ng-click="changeStatus(note)" data-target="#NotesStatusWrapper" >Change Status</a>
                        </div>
                        <div ng-include="'js/tpl/notes/note_status.html'"></div>
                        <a href="javascript:void(0)" class="replylink" data-toggle="modal" ng-click='sendReply(note)' data-target="#NotesReply" >Reply</a>
                        <div ng-include="'js/tpl/notes/reply_notes.html'"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Notes History -->
