<div id="page-wrapper">
<section class="reset-password-page section-area static-page">
  <div class="container">
  <form role="form" name="UserPasswordReset" ng-submit="userResetPassword()" novalidate id="password-reset-form" class="thanku-form">
	      <div class="cat_template_row" ng-show="successmessage">
          <div class="alert alert-success" role="alert">
            {{successmessage}}
          </div>
        </div>
        <div class="cat_template_row" ng-show="errormessage">
          <div class="alert alert-danger" role="alert">
            {{errormessage}}
          </div>
        </div>
        <span class="hightlight popup-title text-center">Reset Password</span>
      <div class="form-group">
        <input type="email" ng-pattern="/^[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]$/" class="form-control" placeholder="Email *" ng-model="passwordreset.email" required id="email" name="email">
         <span class="messages" ng-messages="UserPasswordReset.email.$error" ng-if="submitted">
        <span ng-message="pattern">Please enter valid email.</span>
        <span ng-messages-include="/js/tpl/messages.html"></span>
        </span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password *" name="password" id="password" ng-model="passwordreset.password" ng-minlength="8" required>
        <span class="messages" ng-messages="UserPasswordReset.password.$error" ng-if="submitted">
        <span ng-message='required'>Please enter New Password.</span>
        <span ng-message='minlength'>Please enter 8 characters.</span>
        <span ng-messages-include="/js/tpl/messages.html"></span>
        </span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Confirm Password *" name="password_confirmation" id="password_confirmation" ng-model="passwordreset.password_confirmation" ng-minlength="8" required>
        <span class="messages" ng-messages="UserPasswordReset.password_confirmation.$error" ng-if="submitted">
        <span ng-message='required'>Please enter Confirm Password</span>
        <div ng-show="passwordreset.password_confirmation != passwordreset.password">
        <span>Passwords don't match</span>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </form>
    </div>
</section>
</div>
