<div class="quote-q-page admin-section">

<!-- Quote Queue List Section -->
  <section id="queue-list" class="section-area" ng-init="getAllRoles()">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 quote-content">
            <!-- Table list -->
              <div class="list-view">
                  <div class="row">
                <div class="col-md-12 margin-bottom-5">
                <button type="button" show-if-has-permit="add-role" class="btn btn-wide btn-default pull-right" ng-click="addnew()">Add New Role</button>
                  </div>
                </div>
                <table class="table table-striped table-condensed table-hover" id="sample_2"  >
                  <thead>
                 <tr>
                    <th class="id" custom-sort order="'id'" sort="sort">Role ID</label></th>
                    <th><label>Name</label></th>
                    <th><label>Display Name</label></th>
                    <th class="text-center"><label>Edit</label></th>
                    <th class="text-center"><label>Delete</label></th>
                 </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <tr ng-repeat='role in roles '>
                    <td at-implicit at-sortable at-attribute="role.id">{{role.id}}</td>
                    <td>{{role.role_name}}</td>
                    <td>{{role.display_name}}</td>
                    <td class="text-center">
                      <a show-if-has-permit="edit-role" ng-href="#/role/{{role.id}}" class="edit-row">Edit</a>
                    </td>
                    <td>
                      <a show-if-has-permit="delete-role" ng-click="delete(role.id)" class="delete-row">Suspend</a>
                    </td>
              </tr>
                  </tbody>
              </div>
              <!-- End table list -->
        </div>
        </div>
        <div>

        </div>
      </div>
  </section>
